<a
  href={Astro.props.href}
  target='_blank'
  rel='noopener noreferrer'
  class=`rounded-full flex justify-center items-center gap-x-2 py-2 px-8
  bg-gray-50 border border-gray-200
  transition-all hover:border-gray-400
   ${Astro.props.class || ''}`
>
  <slot />
</a>
