---
import Badge from '../components/Badge.astro';
import Experience from '../experience/components/Experience.astro';
import BriefcaseIcon from '../icons/BriefcaseIcon.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import LinkedInIcon from '../icons/LinkedInIcon.astro';
import MailIcon from '../icons/MailIcon.astro';
import SocialPill from '../icons/SocialPill.astro';
import Layout from '../layouts/Layout.astro';
import SectionLayout from '../layouts/SectionLayout.astro';
---

<Layout>
  <main>
    <SectionLayout class='py-44 pb-24'>
      <div class='flex items-center gap-5 mb-10'>
        <h1 class='text-5xl font-bold flex-1/3'>Hola! soy Gonzalo Donaire</h1>
        <a target='_blank' href='https://www.linkedin.com/in/gonzalo-donaire-ba8574181/'><Badge>Disponible para trabajar</Badge></a>
      </div>
      <h2 class='text-xl opacity-80'>Desarrollador fullstack con más de 6 años de experiencia desarrollando soluciones con un impacto real al usuario final.</h2>

      <nav class='flex gap-x-2 mt-4'>
        <SocialPill href='https://www.linkedin.com/in/gonzalo-donaire-ba8574181/'>
          <LinkedInIcon class='size-6' />
          LinkedIn
        </SocialPill>
        <SocialPill href='https://github.com/Leiazz'>
          <GithubIcon class='size-6' />
          GitHub
        </SocialPill>
        <SocialPill href='https://github.com/Leiazz'>
          <MailIcon class='size-6' />
          Gonzalodonaire001@gmail.com
        </SocialPill>
      </nav>
    </SectionLayout>
    <SectionLayout>
      <h2 class='text-3xl font-semibold mb-4 flex gap-x-2 items-center'>
        <BriefcaseIcon class='size-6' />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionLayout>
  </main>
</Layout>
