---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <section class='w-full lg:max-w-3xl mx-auto py-10'>
      <div class='flex items-center gap-5 mb-10'>
        <h1 class='text-5xl font-bold flex-1/3'>Hola! soy Gonzalo Donaire</h1>
        <a target='_blank' href='https://www.linkedin.com/in/gonzalo-donaire-ba8574181/'><Badge>Disponible para trabajar</Badge></a>
      </div>
      <h2 class='text-xl opacity-80'>Desarrollador fullstack con más de 6 años de experiencia desarrollando soluciones con un impacto real al usuario final.</h2>
    </section>
  </main>
</Layout>
