<header class='flex flex-col sm:flex-row justify-between items-center py-3 w-full gap-4 sm:gap-0 sm:px-24 md:px-40 lg:px-64'>
  <img
    class='rounded-full size-12 sm:size-16'
    src='https://media.licdn.com/dms/image/v2/D5603AQEEU4Ict1OS-Q/profile-displayphoto-crop_800_800/B56Zg0ABDeH0AM-/0/1753219077024?e=1756339200&v=beta&t=og_eoFT95ZqRoOTzQE_cy-yWqfTMeOtIP21mR9cqStE'
    alt='Gonzalo Donaire Photo'
  />
  <nav class='flex flex-row gap-x-6 sm:gap-x-10 opacity-80 text-sm sm:text-base'>
    <a href='#top' class='hover:opacity-100 transition-opacity'>Inicio</a>
    <!-- <a href='#about'>Sobre mí</a> -->
    <a href='#experience' class='hover:opacity-100 transition-opacity'>Experiencia</a>
    <!-- <a href='#projects'>Proyectos</a> -->
    <!-- <a href='#contact'>Contactos</a> -->
  </nav>
</header>
