<header class='flex justify-between items-center py-3 w-[1120px]'>
  <img
    class='rounded-full size-16'
    src='https://media.licdn.com/dms/image/v2/D5603AQHJCNtaTJr-1w/profile-displayphoto-crop_800_800/B56ZgTmDUdHUAM-/0/1752675399488?e=1755734400&v=beta&t=CoJk5eYQy3-YkmCy_09D6nkL1O7W7R7kuOS8JctdogI'
    alt='Gonzalo Donaire Photo'
  />
  <nav class='flex flex-row gap-x-10 opacity-80'>
    <a href='/'>Home</a>
    <a href='/about'>About</a>
    <a href='/projects'>Projects</a>
    <a href='/contact'>Contact</a>
  </nav>
</header>
